@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #262626;
  margin: 1 1 1 1;
}

/* leave font size as px to make it clearer for hidpi */
p {
  color: white;
  font-family: "Coda";
}

img {
  background-color: transparent;
}